html {
  background-color: beige;
}
#main-heading {
  text-align: center;
  background-color: gainsboro;
  padding: 15px;
  margin: 15px;
}

.table-btn {
  border: 2px solid darkgray;
  border-radius: 100px;
  cursor: pointer;
}
.table-btn:hover {
  background-color: lightgray;
  color: white;
}
.table-btn:active {
  background-color: darkgray;
  color: blue;
}
tr.dark-row {
  background-color: lightgray;
}
tr.medium-row {
  background-color: white;
}
tr.end-row {
  background-color: lightblue;
}
table {
  border: 2px solid gray;
  border-collapse: collapse;
}
th,
td {
  border: 2px solid gray;
}
