.sub {
  padding: 14px;
  width: 231px;
  background-color: blue;
}
.reset {
  padding: 14px;
  width: 230px;
  background-color: #f10808;
}
.body {
  background-color: #94e1e1;
}
.form-inputs {
  padding: 14px;
  width: 200px;
}
